@media (max-width: 414px) {
    .container {
        width: 55vh; 
        padding: 10px;
        height: 270vh; 
    }

    .imagen img {
        width: 55vh; 
        margin-top: 0;
    }

    .instructions {
        width: 100%; 
        padding: 10px; 
    }

    .instructions ol li {
        padding-left: 5em; 
    }

    .instructions ol li::before {
        width: 1.5em; 
        padding-left: 1.8em; 
    }
    .preparation{
        margin-left: 4vh;
    }

    .description,
    .preparation,
    .ingredients,
    .nutrition {
        padding: 10px; 
    }
    .preparation,
    .ingredients,
    .instructions,
    .nutrition {
        width: 48vh; 
    }

    .nutrition p{
        width: 45vh;
    }
    .nutrition-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45vh;
        margin-left: 0.5em;
        padding: 0.4em 1.2em;
        border-bottom: 1px solid hsl(30, 10%, 34%); /* Añade una línea divisoria */
    }
    
    .nutrition-item:last-child {
        border-bottom: none; /* Elimina la línea divisoria del último elemento */
    }
    
    .value {
        color: hsl(14, 45%, 36%);
        padding-right: 3em;
    }
}